<%- include ('./admin/partials/header.ejs') %>

<div class="container">
    <h4 class="mt-4 text-center">ELECTION CONFIGURATION AND <span class="redColor">SETTINGS</span></h4>

    <div class="col-md-6 mx-auto">

    </div>
    <div class="col-md-8 mx-auto">
        <h5>CATEGORIES</h5>
        <table class="table table-sm table-bordered">
            <thead>
                <tr>
                    <th  class="text-center">Category</th>
                    <th  class="text-center" colspan="2">Edit/Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>President</td>
                    <td class="text-center"><a class="specColor" href="">Edit</a></td>
                    <td  class="text-center"><a class="specColor" href="">Delete</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<%- include ('./partials/footer.ejs') %> 