<%- include ('./regions/partials/header.ejs') %> 

<div class="container">
    <div class="col-md-8 text-center">
        <h4>CATEGORY</h4>
        

    </div>
</div>

<%- include ('./partials/footer.ejs') %> 